:root {
  --font-sora: "Sora", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --font-roboto-flex: "Roboto Flex", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #020202;
  color: #C7C9CC;
}

h1 {
  font: 900 72px/1.3 var(--font-sora);
  color: #FFFFFF;
  text-transform: uppercase;
}

h2 {
  font: 600 20px/20px "Helvetica Neue";
  color: #000;
}

h3 {
  font: 600 20px/20px "Helvetica Neue";
  color: #000;
}

